@namespace SW.SimplyRazor

<label for="@State.Id">@State.Text</label>

<SimplySelect id="@State.Id"
                       form="@State.FormId"
                       class="@cssClass"
                       ValueChanged="(e)=> ValueChanged.InvokeAsync(e)"
                       Value="@State.Value"
                       EmptyText="Select"
                       Lookup="@State.Lookup"
                       @attributes="UnmatchedAttributes" TKey="object" />

@code {

    [Parameter]
    public EventCallback<object> ValueChanged { get; set; }

    [Parameter]
    public ISimplyField State { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> UnmatchedAttributes { get; set; }

    string cssClass => "form-control " + (State.IsInvalid ? "is-invalid" : null);

}
