@namespace SW.SimplyRazor

    <div class="form-check">
        <input id="@State.Id"
               checked="@State.Value"
               type="checkbox"
               class="form-check-input @((State.IsInvalid ? "is-invalid" : null))"
               disabled="@State.ReadOnly"
               @onchange="e=> ValueChanged.InvokeAsync(e.Value)"
               @attributes="UnmatchedAttributes" />

        <label class="form-check-label" for="@State.Id">@State.Text</label>
    </div>

@code {

    [Parameter]
    public EventCallback<object> ValueChanged { get; set; }

    [Parameter]
    public IField State { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> UnmatchedAttributes { get; set; }

}
