@namespace SW.SimplyRazor

<SimplyTable @bind-Value="wrapper" OnItem="OnItem" Text="@State.Text" Type="typeof(KeyValueWrapper)">
    <Columns>
        <Field>
            <ColumnHeader>
                Action (<a href="JavaScript:void(0);" @onclick="@(() => context.Action.Invoke("add", null))">add</a>)
            </ColumnHeader>
            <ColumnValue>
                <a href="JavaScript:void(0);" @onclick="@(() => context.Action.Invoke("remove", context.Model))">Remove</a>
            </ColumnValue>
        </Field>
        <Field Name="Key" Lookup="@State.Lookup" />
        <Field Name="Value" />
    </Columns>
    <Form>
        <Field Name="Key" Lookup="@State.Lookup" />
        <Field Name="Value" />
    </Form>
</SimplyTable>

@code {

    [Parameter]
    public EventCallback<object> ValueChanged { get; set; }

    [Parameter]
    public IField State { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> UnmatchedAttributes { get; set; }

    //ICollection<KeyValueWrapper> wrapper;
    object wrapper;


    IDictionary<string, string> value { get; set; }

    protected override void OnInitialized()
    {
        if (State.Value != null)
        {

            value = (IDictionary<string, string>)State.Value;

            var _wrapper = new List<KeyValueWrapper>();

            foreach (var item in value)
            {
                _wrapper.Add(new KeyValueWrapper
                {
                    Key = item.Key,
                    Value = item.Value
                });

            }

            wrapper = _wrapper;
        }
    }

    async Task OnItem(TableItem tableItem)
    {
        if (value == null) value = new Dictionary<string, string>();

        if (tableItem.Flag == TableItemFlag.Added)
            value.Add(((KeyValueWrapper)tableItem.Item).Key, ((KeyValueWrapper)tableItem.Item).Value);

        if (tableItem.Flag == TableItemFlag.Removed)
            value.Remove(((KeyValueWrapper)tableItem.Item).Key);

        await ValueChanged.InvokeAsync(value);

    }

}
