@page "/"
@using SW.Searchy

<SimplySearch TModel="Employee">
    <SimplyFilter Field="Id" Text="Id" Type="@SearchyFilterConfigType.Int"></SimplyFilter>
    <SimplyFilter Field="HandlerName" Default="true" Text="Handler" Type="@SearchyFilterConfigType.String"></SimplyFilter>
    <SimplyFilter Field="Started" Text="Date" Type="@SearchyFilterConfigType.Date"></SimplyFilter>
</SimplySearch>

<SimplyTable TModel="Employee" For="nameofsearch">
    <Header>
        <SimplyAction Type="ActionType.TableAdd" />
    </Header>
    <Fields>
        <SimplyField>
            <ColumnHeader>
                Link
            </ColumnHeader> 
            <ColumnValue>
                <a href="@($"edit/{context.Model.FirstName}")" >Edit</a>
            </ColumnValue>
        </SimplyField>
        <SimplyField>
            <ColumnValue>
                <SimplyAction Type="ActionType.TableEdit" />
                <SimplyAction Type="ActionType.TableDelete" />
            </ColumnValue>
        </SimplyField>
        <SimplyField Name="FirstName" readonly></SimplyField>
        <SimplyField Name="LastName">
            <ColumnHeader>
                L.N...
            </ColumnHeader>
            <ColumnValue>
                @context.Model.LastName
            </ColumnValue>
        </SimplyField>
        <SimplyField Name="Age" />
        <SimplyField Name="Married" />
        <SimplyField Name="EmploymentStatus" Lookup="intmock" />
        <SimplyField Name="Country" Lookup="country" />
        <SimplyField Name="Salary.Amount" />
        <SimplyField Name="Salary.Currency" />
    </Fields>

</SimplyTable>

<SimplyPager />

@code{

}