@namespace SW.SimplyRazor
@inject SearchyClient searchyService
@inject NavigationManager nav
@using SW.Searchy
@using Humanizer

@if (value is null) return; 

    <CascadingValue Value="FilterConfigs" Name="Filters">
        @ChildContent
    </CascadingValue>



<div class="row">
    <label for="filterSelect" class="col-auto col-form-label">Search</label>
    <div class="col-auto">

        <div class="input-group">
            <SimplySelect @bind-Value="filterValue"
                          EmptyText="Select filter"
                          StringList="@(FilterConfigs.Select(e=>e.Text))">

            </SimplySelect>

            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" @onclick="FilterAddOnClick">Add</button>
            </div>
        </div>
        @*<select @bind="filterValue" class="form-control" id="filterSelect">
                <option value="0">Select a filter</option>
                @{
                    int itemIndex = 1;
                    foreach (var item in FilterConfigs)
                    {
                        <option value="@itemIndex">@item.DisplayName</option>
                        itemIndex++;
                    }
                }
            </select>*@
    </div>
    <div class="col text-right mb-2">
        <button type="submit" class="btn btn-primary" @onclick="SearchOnClick">Search</button>
    </div>
</div>

@{
    int lineIndex = 0;
    foreach (var item in value)
    {
        <div class="input-group mb-1">
            <div class="input-group-prepend">
                <span class="input-group-text" id="">@item.Text</span>
            </div>
            <SimplySelect @bind-value="item.Operator"
                          EmptyText="Select condition"
                          KeyValuePairList="@(FilterDataType.RulesFor(item.Type).ToDictionary((e) => (int)e, (e)=> e.ToString().Humanize()))">

            </SimplySelect>
            @{switch (item.Type)
                {
                    case FilterDataType.String:
                        {

                            <input @bind="item.ValueString" type="text" class="form-control" />

                            break;
                        }
                    case FilterDataType.Int:
                        {
                            <input @bind="item.ValueInt" type="number" class="form-control" />

                            break;
                        }
                    case FilterDataType.Date:
                        {
                            <input @bind="item.ValueDate" type="date" class="form-control" />
                            break;
                        }
                }
                int thisLine = lineIndex;
                <div class="input-group-append">
                    <button @onclick="@(e => value.RemoveAt(thisLine))" class="btn btn-outline-secondary" type="button"><span class="oi oi-x" /></button>
                </div>
            }

        </div>

        lineIndex++;
    }

}


@code{

    List<ISearchyFilterConfig> FilterConfigs { get; set; }

    //[Parameter]
    //public EventCallback<SearchyQuery> OnSearch { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public Type Model { get; set; }

    int filterValue;
    List<FilterState> value;

    Task FilterAddOnClick(MouseEventArgs e)
    {
        if (filterValue > 0)
        {
            value.Add(new FilterState(FilterConfigs[filterValue - 1]));
            filterValue = 0;
        }
        return Task.CompletedTask;
    }


    protected async override Task OnInitializedAsync()
    {
        FilterConfigs = new List<ISearchyFilterConfig>();
        if (!(Model is null))
        {
            searchyService.Client.BaseAddress = new Uri(nav.BaseUri);
            FilterConfigs.AddRange(await searchyService.GetFilterConfigs(Model.FullName));
        }
        value = new List<FilterState>();
    }

    private Task SearchOnClick(MouseEventArgs e)
    {

        var sq = new SearchyQuery();

        var filledLines = value
            .Where(sl => sl.Operator != 0 &&
            (sl.ValueString != null || sl.ValueString != null ||
            sl.ValueDecimal != null || sl.ValueDate != null));


        //.Select(sl => new FilterByOptions(sl.FieldName, (FilterByOptions.FilterOperatorOptions)sl.Operator, sl.value));

        if (filledLines.Any())
        {

            foreach (var line in filledLines)
            {

            }

            //sq.Conditions.Add(new SearchCondition(fbo));

        }

        //return OnSearch.InvokeAsync(sq);
        return Task.CompletedTask;
    }



    //class SimplyFilterOperator
    //{
    //    public FilterByOptions.FilterOperatorOptions Operator { get; set; }
    //    public string[] Applicability { get; set; }
    //}
}