@typeparam TModel
@namespace SW.SimplyRazor
@implements ISimplySearch
@inject NotifyService notify


<CascadingValue IsFixed="true" Value="this" Name="Search">
    <CascadingValue IsFixed="true" Value="typeof(TModel)" Name="ModelType">
        <CascadingValue IsFixed="true" Value="FieldRole.Filter" Name="RenderMode">
            @Filters
        </CascadingValue>
    </CascadingValue>
</CascadingValue>

<SimplyQuery QueryUrl="@FilterUrl" @bind-Working="filterQueryBusy" OnResult="OnFilterQueryResult" TResponse="IEnumerable<SearchyFilterSetup>" ></SimplyQuery>
<SimplyQuery QueryUrl="@query" @bind-Working="searchQueryBusy" OnResult="OnSearchQueryResult" TResponse="SearchyResponse<TModel>"></SimplyQuery>

<div class="container-fluid">

    <div class="form-row align-items-center mb-3">
        <label for="filterSelect" class="col-sm-1 col-form-label">Search</label>
        <div class="col-auto">
            <div class="input-group">
                <SimplySelect @bind-Value="filterValue"
                              EmptyText="Select filter"
                              Items="@(filterSetup.Select(e=>e.Text).ToList())"
                              class="form-control" />

                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" @onclick="FilterAddOnClick">Add</button>
                </div>
            </div>
        </div>
        <div class="col-auto ">
            <button type="button" @onclick="() => Search(0)" class="btn btn-secondary" style="width: 100px;">
                @if (filterQueryBusy || searchQueryBusy)
                {
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                }
                else
                {
                    @:Search
                }
            </button>
        </div>
        @if (Commands != null)
        {
            @Commands
        }
    </div>

    @foreach (var filter in filters)
    {

        <div class="form-group row" @key="filter">
            <div class=" input-group col">

                <div class="input-group-prepend">
                    <span class="input-group-text" id="">@filter.Text</span>
                </div>

                <SimplySelect @bind-value="filter.Rule"
                              Items="filter.Rules"
                              TKey="SearchyRule"
                              class="form-control" />

                @switch (filter.Type)
                {

                    case SearchyDataType.Number:

                        <input @bind="filter.ValueDecimal" type="number" class="form-control" />
                        break;

                    case SearchyDataType.Date:

                        <input @bind="filter.ValueDateTime" type="date" class="form-control" />
                        break;

                    default:

                        <input @bind="filter.ValueString" type="text" class="form-control" />
                        break;

                }
                <div class="input-group-append">
                    <button @onclick="@(e => RemoveFilter(filter))" class="btn btn-outline-secondary" type="button"><span class="oi oi-x" /></button>
                </div>
            </div>
        </div>
    }

</div>

<div class="container-fluid mt-5">
    @if (result != null && result.Result.Count() > 0)
    {
        <SimplyGrid Data="result.Result" RowClicked="GridRowClicked" TModel="TModel">
            @Columns
        </SimplyGrid>

        <SimplyPager Count="result.TotalCount" Page="page" PageSize="PageSize" PageChanged="page => Search(page)"></SimplyPager>
    }
</div>

@code{

    [Parameter]
    public string SearchUrl { get; set; }

    [Parameter]
    public string FilterUrl { get; set; }

    [Parameter]
    public RenderFragment Filters { get; set; }

    [Parameter]
    public RenderFragment Columns { get; set; }

    [Parameter]
    public int PageSize { get; set; }

    [Parameter]
    public RenderFragment Commands { get; set; }

    //[Parameter]
    //public string NewHref { get; set; }

    //[Parameter]
    //public string Height { get; set; }

    [Parameter]
    public EventCallback<TModel> RowClicked { get; set; }

    int filterValue;
    List<FilterModel> filters = new List<FilterModel>();
    List<ISearchyFilterSetup> filterSetup = new List<ISearchyFilterSetup>();
    bool searchQueryBusy;
    bool filterQueryBusy;
    int page;
    SearchyResponse<TModel> result;
    string query;


    Task FilterAddOnClick(object e)
    {
        if (filterValue > 0)
        {
            filters.Add(new FilterModel(filterSetup[filterValue - 1]));
            filterValue = 0;
        }
        return Task.CompletedTask;
    }

    async Task RemoveFilter(FilterModel filter)
    {
        if (filter.Required)
            await notify.Publish(new UserMessage { Body = "This filter is required for search.", Level = AlertLevel.Warning });
        else
            filters.Remove(filter);
    }

    void Search(int page)
    {
        var searchRequest = new SearchyRequest(new SearchyCondition(filters))
        {
            PageSize = PageSize,
            PageIndex = page
        };

        query = $"{SearchUrl}?{searchRequest.ToString()}";
        this.page = page;
    }

    async public Task AddFilterSetup(ISearchyFilterSetup filter)
    {
        filterSetup.Add(filter);
        if (filter.Default || filter.Required) filters.Add(new FilterModel(filter));
        await InvokeAsync(() => StateHasChanged());
    }

    async Task OnFilterQueryResult(ApiResult<IEnumerable<SearchyFilterSetup>> apiResult)
    {
        if (apiResult.Success)
        {
            foreach (var fc in apiResult.Response)

                await AddFilterSetup(fc);
        }
    }

    public void RemoveFilterSetup(ISearchyFilterSetup filter)
    {
        filterSetup.Remove(filter);
    }

    Task GridRowClicked(TModel model)
    {
        return RowClicked.InvokeAsync(model);
    }

    async Task OnSearchQueryResult(ApiResult<SearchyResponse<TModel>> apiResult)
    {
        if (apiResult.Success)
        {
            if (apiResult.Response.Result.Count() == 0)
            {
                await notify.Publish(new UserMessage { Body = "Search returned no results.", Level = AlertLevel.Info });
            }
            result = apiResult.Response;
        }
        query = null;
    }

}
