@typeparam TKey
@namespace SW.SimplyRazor
@if (KeyValuePairList != null)
{

    <select @onchange="SelectValueChanged" class="form-control">
        @if (EmptyText != null)
        {
            <option selected="@(Value == null || Value.Equals(default(TKey) ))" value=" ">@EmptyText</option>
        }

        @{
            foreach (var item in KeyValuePairList)
            {
                <option selected="@(Value != null && Value.ToString()==item.Key.ToString() )" value="@item.Key">@item.Value</option>
            }
        }
    </select>
}



@code {

    [Parameter]
    public TKey Value { get; set; }

    [Parameter]
    public EventCallback<TKey> ValueChanged { get; set; }

    [Parameter]
    public IEnumerable<KeyValuePair<TKey, string>> KeyValuePairList { get; set; }

    [Parameter]
    public IEnumerable<string> StringList { get; set; }

    [Parameter]
    public string EmptyText { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> UnmatchedAttributes { get; set; }

    protected override void OnInitialized()
    {
        if (StringList != null)
        {
            var lst = new List<KeyValuePair<TKey, string>>();
            int itemIndex = 1;
            foreach (var item in StringList)
            {
                lst.Add(new KeyValuePair<TKey, string>((TKey)(object)itemIndex, item));
                itemIndex++;
            }
            KeyValuePairList = lst.AsEnumerable();
        }
    }

    async Task SelectValueChanged(ChangeEventArgs args)
    {
        if (string.IsNullOrWhiteSpace(args.Value.ToString()))
        {
            Value = default(TKey);
            await ValueChanged.InvokeAsync(Value);
        }
        else if (typeof(TKey) == typeof(string))
        {
            Value = (TKey)args.Value;
            await ValueChanged.InvokeAsync(Value);
        }
        else if (typeof(TKey) == typeof(int))
        {
            Value = (TKey)(object)int.Parse(args.Value.ToString());
            await ValueChanged.InvokeAsync(Value);
        }
        else if (typeof(TKey).BaseType == typeof(Enum))
        {
            Value = (TKey)(object)Enum.Parse(typeof(TKey), args.Value.ToString());
            await ValueChanged.InvokeAsync(Value);
        }
        else if (typeof(TKey) == typeof(object))
        {
            Value = (TKey)args.Value;
            await ValueChanged.InvokeAsync(Value);
        }

    }


}
